<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Template Driven Form
  </h1>

  <h1> Student registration form </h1>
 </div>
 <form>
   <table align=center>
     <tr>
       <td>First Name :</td>
       <td>Last Name :</td>
     </tr>
     <tr> <td><input id="fname" name="fname" class="form-control"
      required minlength="4"
      [(ngModel)]="fullname" #fname="ngModel" ></td>


    <td><input id="lname" name="lname" class="form-control"
      required minlength="4"
      [(ngModel)]="lastname" #lname="ngModel" ></td></tr>


      <tr>
          <td class=a><div *ngIf="fname.invalid && (fname.dirty || fname.touched)">
              <!-- class="alert alert-danger"-->
          
            <div *ngIf="fname.errors.required">
              Name is required.
            </div>
            <div *ngIf="fname.errors.minlength">
              Name must be at least 4 characters long.
            </div>
          
          </div></td>

          <td class=a><div *ngIf="lname.invalid && (lname.dirty || lname.touched)">
            <div *ngIf="lname.errors.required">
              Last name is required. </div>
              <div *ngIf="lname.errors.minlength">
                Name must have atleast 4 characters.

              </div>

          </div>

          </td>

      </tr>
      <tr>
        <td>Email :</td>
        <td>Date of Birth : </td>
              
      </tr>

      <tr> 
        <td> <input id="email" name="email" class="form-control" required  
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="Email" #email="ngModel" >  </td>

          <td> <input type="date" id="dob" name="dob" class="form-control" required 
           
            [(ngModel)]="date" #dob="ngModel" > </td>



      </tr>

      <tr>
        <td class=a ><div *ngIf="email.invalid && (email.dirty ||  email.touched)"> 
          <div *ngIf="email.errors.required">
            Eamil is required.
          </div>
          <div *ngIf="email.errors.pattern">
            Invalid Email.

          </div>
          
        
        </div></td>
         <td class=a>
            <div *ngIf="dob.invalid && (dob.dirty ||  dob.touched)"> 
                <div *ngIf="dob.errors.required">
                  Date of Birth is required.
                </div>
                
            </div>
                
        </td>



      </tr>
      <tr> <td>Gender :
          </td>
          <td> <input type="radio" name="gender" value="male" id="male" name="male" class="form-control"
            required  [(ngModel)]="male" #male="ngModel" > Male
            <input type="radio" name="gender" value="female" id="male" name="male" class="form-control"
            required  [(ngModel)]="male" #male="ngModel" > Female</td>
    </tr>
    
   </table>
 </form>

<router-outlet></router-outlet>
